.row{
    display: flex;
    align-items: center;
}
nav{
    margin-bottom: 5vh;
}

.navbar-brand{
    display: flex;
    align-items: center;

}

.navbar-brand p{
    margin: 0;
    color: black;
    font-size: 1.5rem;
}

.container{
    padding-top: 20px;
}

.searchInput{
    /* width: 450px;
    padding-top: 20px; */
}

svg{
    margin-left: 50px;
}

.title-video{
    font-size: 1rem;
    padding: 0;
}